<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "style"%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% unless params[:controller] == 'devise/registrations' || params[:controller] == 'devise/sessions' || params[:controller] == 'devise/passwords' %>
      <div style="text-align: right;">
        <%= react_component("buttons/buttons", {root_path: root_path, posts_path: posts_path, new_post_path: new_post_path, edit_reg: edit_user_registration_path})%>
        <%= form_tag(search_path, :method => "get") do %>
            <div style="text-align: right;">
              <%= search_field_tag :search, params[:search], placeholder: "Найти...", class: "form-control" %>
              <%= button_tag "Поиск", :name => nil %>
            </div>
        <% end %>
      </div>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
